.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.review .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0 ,.1);
    border:0.15rem solid #fff;
    border-radius: 0.5rem;
    flex: 1 1 10rem;
    height: 35rem;
    position: relative;
    text-align: center;

}
.review .box-container .box img{
    width: 50%;
    height: 35%;
    border-radius: 50%;
    object-fit: cover;
}
.review .box-container .box h3{
    color:#009688 ;
    font-size: 2rem;
}

.review .box-container .box p{
    color:#fff;
    font-size: 1rem;
    padding:1rem 0;
}

.review .box-container .box .stars i {
    color:var(--orange);
    font-size: 1.5rem;
}
.overlay{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    border-radius:7px;
    cursor:pointer;
    background:linear-gradient(rgba(0,0,0,0.2),#b3b0ae);
    opacity: 0;
    transition: 1s;
    }
    .review .box-container .box:hover .overlay{
        opacity: 1;
 }

 .review .heading{
    color:#009688 ;
    font-size:1.5rem;
    padding-left:2rem;
}

#testimonial{
    margin-top: 1.5rem;
    }
    
    .contact form{
        margin:1rem auto;
        max-width: 50rem;
        border-radius: .5rem;
        
        padding:1rem;
    }
    
    .contact form .box{
        padding:0.5rem 0.5rem;
        width:100%;
        background: none;
        color:#fff;
        font-size: 1.25rem;
        text-transform: none;
        margin:.7rem 0;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        text-align: left;
    }
    
 
    .contact form .box:focus{
        box-shadow: var(--box-shadow-inset);
    }

    .contact .heading{
        margin-top: 3rem;
        color:#009688 ;
        font-size:1.5rem;
        padding-left:2rem;
    }
    .contact p{
        color: aliceblue;
        margin-left: 1.5rem;
    }
    hr{
        color: #fff;
    }

    @media screen and (max-width:770px){
        .review .box-container .box img{
            width:100%;
            height:45%;
        }
    }